
.navbar {
  display: flex;
  list-style-type: none;
  background-color: #cccccc;
  padding: 1rem;

}
.nvbar list{
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.navbar li.active {
  background: #a5a5a5;
}

.card {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  width: 300;
  height: 300;
}

.heading {
  align-content: center;
}