
.navbar {
  display: flex;
  list-style-type: none;
  padding: 1rem;

}
.nvbar list{
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: blue;
}
.navbar li.active {
  background: #a5a5a5;
}

.card {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  width: 300;
  height: 300;
}

.heading {
  text-align: center;
  background-color: pink;
}

.header {
  align-content: center;
  font-size: 1rem;
  align-items: center;
  align-self: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}
.headerupper {
  padding: 1rem;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;

}